.marquee {
	display: flex;
	height: 100%;
	/* overflow: hidden; */
	gap: 100px;
	white-space: nowrap;
	@apply w-full;
}

.content {
	display: inline-flex;
	height: 100%;
	align-items: center;
	color: black;
	animation: marquee 20s linear infinite;
	@apply w-full h-[100px];
}


.text {
	@apply xl:text-[150px] text-xl h-full;
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}

